<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <data-source>
        <name>java:jboss/datasources/AsamalExampleDS</name>
        <url>${dburl}</url>
        <user>${dbuser}</user>
        <password>${dbpassword}</password>
        <class-name>${dbclass}</class-name>
    </data-source>
</web-app>