#layout('default')

#region('content')
    <h1>Welcome to home!</h1>

    #if($success)
        <div class="alert alert-success">
            <ul>
            #foreach($m in $success)
                <li>$m</li>
            #end
            </ul>
        </div>
    #end
    #if($warn)
        <div class="alert alert-block">
            <ul>
            #foreach($m in $warn)
                <li>$m</li>
            #end
            </ul>
        </div>
    #end
    #if($err)
        <div class="alert alert-error">
            <ul>
            #foreach($m in $err)
                <li>$m</li>
            #end
            </ul>
        </div>
    #end
    #if($info)
        <div class="alert alert-info">
            <ul>
            #foreach($m in $info)
                <li>$m</li>
            #end
            </ul>
        </div>
    #end

    <ul>
        #{foreach}($item in $list)
            <li>$item</li>
        #{end}
    </ul>

    <a href="$tag.link("home", "register")">Register</a>
#end