#layout('default')

#region('content')
    <h1>Please login</h1>

    <form action="$tag.formAction('home', 'doLogin')" method="POST" class="form-horizontal">
        <label>Login</label>
        <input type="text" name="login" value="$!controller.loginBean.user.username"/>
        <label>Password</label>
        <input type="password" name="password" value=""/>
        <input type="submit" value="Login"/>
    </form>
#end