#layout('default')

#region('content')
<h1>Please register</h1>

<div class="well">
    <h2>POST form</h2>

    <form method="POST" action="$tag.formAction("home", "doRegister")" class="form-horizontal">
        <label>Please enter the name</label>
        <input type="text" name="person.name" value="$!controller.person.name"/>
        <label>Please enter the lastname</label>
        <input type="text" name="person.lastName" value="$!controller.person.lastName"/>
        <label>Please enter the addresses</label>
        <input type="text" name="person.addresses" value="$!controller.person.addresses.get(0)"/>
        <input type="text" name="person.addresses" value="$!controller.person.addresses.get(1)"/>
        <input type="text" name="person.addresses" value="$!controller.person.addresses.get(2)"/>
        <label>And submit...</label>
        <input type="submit"/>
    </form>

</div>

<div class="well">
    <h2>GET form</h2>

    <form method="GET" action="$tag.link("home", "doGetRegister")" class="form-horizontal">
        <label>Please enter the name</label>
        <input type="text" name="person.name" />
        <label>Please enter the lastname</label>
        <input type="text" name="person.lastName"/>
        <label>Please enter the addresses</label>
        <input type="text" name="person.addresses"/>
        <input type="text" name="person.addresses"/>
        <input type="text" name="person.addresses"/>
        <label>And submit...</label>
        <input type="submit"/>
    </form>
</div>

<div class="well">
    <h2>multipart/form-data form</h2>
    <form method="POST" action="$tag.formActionFormData("home", "doImage")" class="form-horizontal"
            enctype="multipart/form-data">
        <label>Give your addresses</label>
        <input type="text" name="person.addresses"/>
        <input type="text" name="person.addresses"/>
        <label>Send a picture</label>
        <input type="file" name="person.file"/>
        <label>And submit...</label>
        <input type="submit"/>
    </form>
#end

#region('footer')
This is register footer
#end