#layout('default')

#region('content')

    <script type="text/javascript">
        function doPost(url) {
            $.post(url, $("#testform").serialize(),
                    function(page){
                        $.each(page, function(id, html){
                            $("#"+id).html(html);
                        });
                    }, "json");

            return false;
        }
    </script>
    <h1>Welcome to rerender showout!</h1>

    <div id="output">
        <h4>$!controller.person.name</h4>
    </div>

    <form id="testform" method="post" action="$tag.formAction('home', 'doReRender')">
        <input type="text" name="person.name"/>
        <input type="submit" value="Normal Post"/>
        <input type="hidden" name="reRenderList" value="output"/>
        <input type="hidden" name="reRenderList" value="footer"/>
        <a href="#" onclick="return doPost('$tag.reRenderLink("home", "doReRender")')" >Ajax Post</a>
    </form>

    <div id="footer">
        This is footer $!controller.person.name
    </div>
#end