#layout('default')

#region('content')
    <h1>$m['welcome.home']</h1>

    <h2>$m['home.mytickets']</h2>

    #foreach($invoice in $invoices)
        <table class="table table-striped">
            <tr>
                <th>$m['home.ticket.invoice'] $conf.getProperty('INVOICE_ID')$invoice.id</th>
                <th>
                    $m["home.ticket.status.$invoice.status"] $m["home.ticket.method.$invoice.method"]
                </th>
                <th>
                    #if($invoice.status == 'UNPAID')
                        <a href="$a.link('tickets', 'pay')/$invoice.id">
                            <button class="btn">$m['home.ticket.pay']</button>
                        </a>
                    #end
                    <a href="$a.pdf('invoice', 'pdf')/$invoice.id/${c.getInvoiceId($invoice)}.pdf">
                        <button class="btn">$m['home.ticket.invoice']</button>
                    </a>
                </th>
            </tr>
            <tr>
                <th>$m['home.ticket.category']</th>
                <th>$m['home.ticket.name']</th>
                <th>$m['home.ticket.lastname']</th>
            </tr>
            #foreach($ticket in $invoice.tickets)
            <tr>
                <td>$ticket.ticketCategory.name</td>
                <td>$ticket.firstName</td>
                <td>$ticket.lastName</td>
            </tr>
            #end
        </table>
    #end

    #if($invoices.isEmpty())
        <i>$m['home.tickets.notickets']</i>
        <a href="$a.link('tickets', 'buy')">
            <button class="btn btn-warning">Buy Now</button>
        </a>
    #end
#end