#layout('default')

#region('content')
    <h1>$m['welcome.home']</h1>

    <ul>
        #{foreach}($item in $list)
            <li>$item</li>
        #{end}
    </ul>

    <div id="helo">
        <h3>$m['helo']</h3>

        <ul>
            <li>Not very
            <li>XML compliant
        </ul>
    </div>

    <span id="melo">
        <h3>Melo</h3>

        And some more

        <a href="$tag.jsonLink('home', 'showJSONMap')">JSON Map</a>
    </span>

    <a href="$tag.link("home", "register")">Register</a>

    #renderPartial("partial")

    #renderPartial("/common/common_partial")
#end