#layout('default')

#region('content')

    <h1>Welcome to rerender showout!</h1>

    <div id="output">
        <h4>$!controller.person.name</h4>
    </div>

    <div class="well">
        <form id="testform" method="post" action="$tag.formAction('home', 'doReRender')">
            <input type="text" name="person.name"/>
            <input type="submit" value="Normal Post"/>
            <input type="button" value="Ajax Post"
               onclick="return $tag.reRender("home", "doReRender", "'testform'", "['output', 'footer']")" />
        </form>
    </div>

    <div class="well">
        <h3>Partial Form</h3>
        
        <p>This will send only the last name to the server</p>
        
        <div id="name">User name: $!controller.person.name</div>
        <div id="lastname">User last name: $!controller.person.lastName</div>

        <form id="testformPartial" method="post" class="form-horizontal">
            <label>Name</label>
            <input type="text" name="person.name"/>
            <label>Last Name</label>
            <input id="inlastname" type="text" name="person.lastName"/>
            <input type="button" value="Ajax Post"
                   onclick="return $tag.reRender("home", "doPartialReRender", "'inlastname'", "['name', 'lastname']")" />
        </form>
    </div>

    <div id="footer">
        This is footer $!controller.person.name
    </div>
#end