<div>
    #set($ticketNo = $i - 1)

    <label>Name</label>
    <input type="text" name="attendeesByCategory[$catNo][$ticketNo].firstName"
            value="$!c.attendeesByCategory[$catNo][$ticketNo].firstName"/>
    <label>Last Name</label>
    <input type="text" name="attendeesByCategory[$catNo][$ticketNo].lastName"
           value="$!c.attendeesByCategory[$catNo][$ticketNo].lastName"/>
    <label>Occupation</label>
    <input type="text"/>
    <label>Sex</label>
    <input type="text"/>
</div>