<div>
    #set($ticketNo = $i - 1)

    <label>Name</label>
    <input type="text" name="ticketsByCategory[$catNo][$ticketNo].firstName"
            value="$!c.ticketsByCategory[$catNo][$ticketNo].firstName"/>
    #err("attendeesByCategory[$catNo][$ticketNo].lastName")
    <label>Last Name</label>
    <input type="text" name="ticketsByCategory[$catNo][$ticketNo].lastName"
           value="$!c.ticketsByCategory[$catNo][$ticketNo].lastName"/>
    #err("attendeesByCategory[$catNo][$ticketNo].lastName")
##    <label>Occupation</label>
##    <input type="text"/>
##    <label>Sex</label>
##    <input type="text"/>
</div>