<div>
    <label>Name</label>
    <input type="text"/>
    <label>Last Name</label>
    <input type="text"/>
    <label>Occupation</label>
    <input type="text"/>
    <label>Sex</label>
    <input type="text"/>
</div>