#if($login.loggedIn == false)
    <!-- register form if user not logged in -->
    <label>$m['register.enter.email']</label>
    <input type="text" name="user.username" value="$!username"/>
    #err('user.username')
    <label>$m['register.enter.password']</label>
    <input type="password" name="password" value=""/>
    #err('user.password')
    <label>$m['register.enter.password2']</label>
    <input type="password" name="password2" value=""/>

    <span>
        $m['register.already.loginfirst']

        <a href="$a.link('login','login')">
            $m['register.button.login']
        </a>
    </span>
#end

<label>$m['tickets.buy.name']</label>
<input type="text" name="invoice.name" value="$!c.invoice.name"/>
#err('invoice.name')
<label>$m['tickets.buy.company']</label>
<input type="text" name="invoice.companyName" value="$!c.invoice.companyName"/>
#err('invoice.companyName')
<label>$m['tickets.buy.vat']</label>
<input type="text" name="invoice.vat" value="$!c.invoice.vat"/>
#err('invoice.vat')
<label>$m['tickets.buy.address']</label>
<input type="text" name="invoice.address" value="$!c.invoice.address"/>
#err('invoice.address')
<label>$m['tickets.buy.postal']</label>
<input type="text" name="invoice.postalCode" value="$!c.invoice.postalCode"/>
#err('invoice.postalCode')
<label>$m['tickets.buy.city']</label>
<input type="text" name="invoice.city" value="$!c.invoice.city"/>
#err('invoice.city')
<label>$m['tickets.buy.country']</label>
<select name="invoice.country">
    <option label="-" value=""/>
    #foreach($country in $countries.countries)
        <option value="$country.name"
            #if($country.name == $c.invoice.country)
                selected="selected"
            #end
                >$country.name</option>
    #end
</select>
#err('invoice.country')

<br/>

#if($c.invoice.datePaid)
    <h3>$m['invoice.edit.paid']</h3>
#else
    <h3>$m['tickets.payment.method']</h3>
    <i>$m['tickets.free.any.payment']</i><br/>
    <input type="radio" name="paymentMethod" value="paypal"
        #if($c.invoice.method == 'PAYPAL')
           checked="true"
        #end
            /> $m['tickets.method.paypal']
    <br/>
    <input type="radio" name="paymentMethod" value="transfer"
        #if($c.invoice.method == 'TRANSFER')
           checked="true"
        #end
            /> $m['tickets.method.bank']
#end