#layout('default')

#region('content')
    <h1>$m['tickets.welcome']</h1>

    <div id="tickets" class="well">
        <h2>$m['tickets.details.invoice']</h2>
        <form class="form-horizontal" action="$a.formAction('tickets', 'doBuy')" method="post"
              accept-charset="UTF-8" id="ticketForm">
            
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span6">
                            <label>$m['tickets.buy.name']</label>
                            <input type="text" name="invoice.name" value="$!c.invoice.name"/>
                            #err('invoice.name')
                            <label>$m['tickets.buy.company']</label>
                            <input type="text" name="invoice.companyName" value="$!c.invoice.companyName"/>
                            #err('invoice.companyName')
                            <label>$m['tickets.buy.vat']</label>
                            <input type="text" name="invoice.vat" value="$!c.invoice.vat"/>
                            #err('invoice.vat')
                            <label>$m['tickets.buy.address']</label>
                            <input type="text" name="invoice.address" value="$!c.invoice.address"/>
                            #err('invoice.address')
                            <label>$m['tickets.buy.postal']</label>
                            <input type="text" name="invoice.postalCode" value="$!c.invoice.postalCode"/>
                            #err('invoice.postalCode')
                            <label>$m['tickets.buy.city']</label>
                            <input type="text" name="invoice.city" value="$!c.invoice.city"/>
                            #err('invoice.city')
                            <label>$m['tickets.buy.country']</label>
                            <select name="invoice.country">
                                <option label="-" value=""/>
                                #foreach($country in $countries.countries)
                                    <option label="$country.name" value="$country.name"
                                            #if($country.name == $c.invoice.country)
                                                selected="selected"
                                            #end
                                            />
                                #end
                            </select>
                            #err('invoice.country')

                            <label>$m['tickets.buy.discount']</label>
                            <input type="text" name="invoice.discount" value="$!c.invoice.discount"/>
                            #err('invoice.discount')

                            <h3>$m['tickets.payment.method']</h3>
                            <input type="radio" name="paymentMethod" value="paypal"
                                #if($c.invoice.method == 'PAYPAL')
                                   checked="true"
                                #end
                                    /> $m['tickets.method.paypal']
                            <br/>
                            <input type="radio" name="paymentMethod" value="transfer"
                                #if($c.invoice.method == 'TRANSFER')
                                   checked="true"
                                #end
                                    /> $m['tickets.method.bank']
                        </div>
                        <div id="tickets-form" class="span6">
                            <h3>$m['tickets.buy']</h3>

                            #set($catNo = 0)

                            #foreach($ticketCat in $c.availableCategories)
                                $ticketCat.name
                                <select id="numberOfTickets-$ticketCat.idName"
                                        onchange="$a.reRender("tickets", "changeNumber", "'ticketForm'", "'tickets-form'")"
                                        name="numberOfTickets-$ticketCat.idName">
                                    <option label="-" value="0"/>
                                    #foreach( $i in [1..$c.getMaxTickets($ticketCat)] )
                                    <option label="$i" value="$i" #if($i == $ticketsToBuy[$ticketCat.idName])selected #end/>
                                    #end
                                </select>

                                <br/>

                                #foreach($i in [1..$ticketsToBuy[$ticketCat.idName]])
                                    <h4>Attendee $i</h4>

                                    #renderPartial('attendee')
                                #end

                                #set($catNo = $catNo + 1)
                            #end

                            <h3>
                                $m['tickets.totalAmount']: $toBePaid PLN
                            </h3>
                        </div>
                    </div>
                    <input type="submit" value="$m['tickets.buy.submit']"/>
                    
                    <div class="row-fluid">
                        <div class="span10">
                            <i>$m['tickets.buy.explanation']</i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
#end