#layout('default')

#region('content')
    <h1>$m['tickets.welcome']</h1>

    <div id="tickets" class="well">
        <h2>$m['tickets.details.invoice']</h2>
        <form class="form-horizontal" action="$a.formAction('tickets', 'doBuy')" method="post"
              accept-charset="UTF-8" id="ticketForm">
            
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span6">
                            #renderPartial('invoice_form')

                            <label>$m['tickets.buy.discount']</label>
                            <input type="text" name="invoice.discount" value="$!c.invoice.discount.discountCode"/>
                            #err('invoice.discount')
                        </div>
                        <div id="tickets-form" class="span6">
                            <h3>$m['tickets.buy']</h3>

                            #set($catNo = 0)

                            #foreach($ticketCat in $c.availableCategories)
                                $ticketCat.name
                                <select id="numberOfTickets-$ticketCat.idName"
                                        onchange="ajaxPost('tickets', 'changeNumber', 'ticketForm', 'tickets-form')"
                                        name="numberOfTickets-$ticketCat.idName">
                                    <option value="0">-</option>
                                    #foreach( $i in [1..$c.getMaxTickets($ticketCat)] )
                                        <option value="$i" #if($i == $ticketsToBuy[$ticketCat.idName])selected #end
                                            >$i</option>
                                    #end
                                </select>

                                <hr/>

                                #if($ticketsToBuy[$ticketCat.idName] > 0)
                                    #foreach($i in [1..$ticketsToBuy[$ticketCat.idName]])
                                        <h4>Attendee $i</h4>

                                        #renderPartial('attendee')
                                    #end
                                #end

                                #set($catNo = $catNo + 1)
                            #end

                            <h3>
                                #set($vat = $math.mul($toBePaid, $math.div($conf.getAsInt('INVOICE_VAT_RATE'), 100)))
                                $m['tickets.totalAmount']: $toBePaid + $vat VAT = $math.add($toBePaid, $vat) $conf.getProperty('INVOICE_CURRENCY')
                            </h3>
                        </div>
                    </div>

                    <hr/>

                    <div class="row-fluid">
                        <div class="span10">
                            <i>$m['tickets.buy.explanation']</i>
                        </div>
                    </div>

                    <hr />

                    <input type="submit" value="$m['tickets.buy.submit']"/>

                </div>
            </div>
        </form>
    </div>
#end