#layout('default')

#region('content')
    <h1>$m['pay.welcome']</h1>

    <div id="pay" class="well">

        $m["pay.thankyou.$invoice.method"]

        #if($invoice.method == 'TRANSFER')

        #elseif ($invoice.method == 'PAYPAL')
            $c.paypalButton()
        #end
    </div>
#end