#layout('default')

#region('content')
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });
    </script>
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>

    <h1>$m['welcome.accounting']</h1>

    <div id="accounting">
        <form action="$a.formAction('admin','closeMonth')" class="form-horizontal"
              id="accountingForm" method="post">
            <label for="accountingMonth">$m['accounting.toClose']</label>
            <input name="accountingMonth" id="accountingMonth" class="date-picker" />

            <input type="submit"
                   value="Close Accounting Month"/>
        </form>
    </div>

#end