#layout('default')

#region('content')
    <form action="" method="post">
        <label for="paymentId">$m['admin.approve.paymentId']</label>

        <input type="text" name="paymentId" id="paymentId"/>

        <a href="" onclick="return $a.reRender('admin', 'searchPayment', "'paymentId'", "'payments'")">Search</a>

        <div id="payments">
            #if($invoice)
                <table class="table table-striped">
                    <tr>
                        <th>$m['admin.approve.invoiceNo']</th>
                        <td>$m['admin.approve.companyName']</td>
                        <td>$m['admin.approve.name']</td>
                        <td>$m['admin.approve.amount']</td>
                        <td>$m['admin.approve.status']</td>
                        <td>$m['admin.approve.method']</td>
                        <td>$m['admin.approve.paidDate']</td>
                        <td></td>
                    </tr>
                    <tr>
                        <input type="hidden" name="invoiceId" id="invoiceId$invoice.id" value="$invoice.id"/>
                        <td>$conf.getProperty('INVOICE_ID')$invoice.id</td>
                        <td>$invoice.companyName</td>
                        <td>$invoice.name</td>
                        <td>$c.countTotalAmount($invoice) $conf.getProperty('INVOICE_CURRENCY')</td>
                        <td>$m["home.ticket.status.$invoice.status"]</td>
                        <td>$m["home.ticket.method.$invoice.method"]</td>
                        <td>
                            #if($invoice.status == 'UNPAID')
                                <input type="text" name="paymentDate" id="paymentDate$invoice.id"
                                        value="$!date.format("yyyy-MM-dd", $date.systemDate)"/>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#paymentDate$invoice.id").datepicker({ dateFormat:"yy-mm-dd" });
                                    });
                                </script>
                            #else
                                $!date.format("yyyy-MM-dd", $invoice.datePaid)
                            #end
                        </td>
                        <td>
                            #if($invoice.status == 'UNPAID')
                                <input class="btn btn-success" type="button" value="$m['admin.approve.approve']"
                                       onclick="return $a.reRender('admin', 'approve', "['invoiceId$invoice.id', 'paymentDate$invoice.id']", "'payments'")"/>
                                <input class="btn btn-danger" type="button" value="$m['admin.approve.cancel']"
                                       onclick="return $a.reRender('admin', 'cancel', "'invoiceId$invoice.id'", "'payments'")"/>
                            #end
                        </td>
                    </tr>
                </table>
            #end
        </div>

    </form>

#end