#layout('default')

#region('content')

    <table>
        <tr>
            <th>$m['discount.code']</th>
            <th>$m['discount.amount']</th>
            <th>$m['discount.number']</th>
        </tr>
        #foreach($discount in $c.discounts)
            <tr>
                <td>$discount.discountCode</td>
                <td>$discount.discountAmount</td>
                <td>
                    #if($discount.numberOfUses > 0)
                        $discount.numberOfUses
                    #else
                        $m['discount.number.unlimited']
                    #end
                </td>
            </tr>
        #end
    </table>

    <form action="$a.formAction('admin', 'addDiscount')" method="post"
          class="form-horizontal">

        <label>$m['discount.code']</label>
        <input type="text" name="discount.discountCode"/>
        #err('discount.discountCode')

        <label>$m['discount.amount']</label>
        <input type="text" name="discount.discountAmount"/>
        #err('discount.discountAmount')

        <label>$m['discount.number']</label>
        <input type="text" name="discount.numberOfUses" id="discount.numberOfUses"/>
        #err('discount.numberOfUses')

        <input type="checkbox" name="discount.unlimited"
               onchange="document.getElementById('discount.numberOfUses').disabled = this.checked" value="Unlimited">
            $m['discount.number.unlimited']</input>

        <input type="submit" value="$m['discount.add']"/>
    </form>
#end