#layout('default')

#region('content')

    <div id="discounts">
        <table class="table">
            <tr>
                <th>$m['discount.code']</th>
                <th>$m['discount.amount']</th>
                <th>$m['discount.number']</th>
                <th>$m['discount.late_discount_label']</th>
                <th>$m['discount.used']</th>
                <th>Actions</th>
            </tr>
            #foreach($discount in $c.discounts)
                <tr>
                    <td>$discount.discountCode</td>
                    <td>$discount.discountAmount</td>
                    <td>
                        #if($discount.numberOfUses > 0)
                            $discount.numberOfUses
                        #else
                            $m['discount.number.unlimited']
                        #end
                    </td>
                    <td>
                        $!discount.lateDiscount
                    </td>
                    <td>
                        $discountHelper.getNumberOfUses($discount)
                    </td>
                    <td>
                        <a href="$a.link('admin', 'editDiscount')/$discount.id">Edit</a>

                        <form id="deleteDiscount$discount.id" accept-charset="UTF-8">
                            <input type="hidden" value="$discount.id" name="id">
                        </form>

                        <a href="#"
                           onclick="if (confirm('Are you sure to delete $discount.discountCode ?')) {ajaxPost('admin', 'deleteDiscount', 'deleteDiscount$discount.id', 'discounts')}">
                            Delete
                        </a>
                    </td>
                </tr>
            #end
        </table>

        <form action="$a.formAction('admin', 'addDiscount')" method="post"
              class="form-horizontal">

            #renderPartial('discount_edit')

            <input type="submit" value="$m['discount.add']"/>
        </form>
    </div>
#end