#layout('default')

#region('content')
    <h1>$m['welcome.option']</h1>

    <div id="options">
        <form class="form-horizontal" id="optionForm" method="post" accept-charset="UTF-8"
              action="$a.link("admin", "updateOption")">

            #renderPartial('option_edit')

            <input type="submit" value="Update Option"/>
        </form>
    </div>

#end