#layout('default')

#region('content')
    <h1>Register new admin user</h1>

    <form method="post" action="$a.formAction('admin', 'doRegisterAdmin')" class="form-horizontal">
        #renderPartial("/common/register")
        <input type="submit"/>
    </form>

#end