<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: 'Alegreya'; font-size: small;">
    <h2 style="text-align: center">$m.getFromBundle('invoice.title', $invoiceType)
        $m['invoice.title.number'] $!{proformaId}$conf.getProperty('INVOICE_ID')$invoice.method/$invoiceNumber</h2>
    <div style="float: right;">
        <h3>$m['invoice.seller']</h3>
        <table>
            <tr><td>$m['invoice.name']</td><td>$conf.getProperty('INVOICE_NAME')</td></tr>
            <tr><td>$m['invoice.company']</td><td>$conf.getProperty('INVOICE_COMPANY')</td></tr>
            <tr><td>$m['invoice.vat']</td><td>$conf.getProperty('INVOICE_VAT')</td></tr>
            <tr><td>$m['invoice.address']</td><td>$conf.getProperty('INVOICE_ADDRESS')</td></tr>
            <tr><td>$m['invoice.postal_code']</td><td>$conf.getProperty('INVOICE_POSTAL_CODE')</td></tr>
            <tr><td>$m['invoice.city']</td><td>$conf.getProperty('INVOICE_CITY')</td></tr>
            <tr><td>$m['invoice.country']</td><td>$conf.getProperty('INVOICE_COUNTRY')</td></tr>
        </table>
    </div>
    <div style="float: left;">
        <h3>$m['invoice.buyer']</h3>
        <table>
            <tr><td>$m['invoice.name']</td><td>$invoice.name</td></tr>
            #if(!$invoice.companyName.isEmpty() && !$invoice.vat.isEmpty())
                <tr><td>$m['invoice.company']</td><td>$invoice.companyName</td></tr>
                <tr><td>$m['invoice.vat']</td><td>$invoice.vat</td></tr>
            #end
            <tr><td>$m['invoice.address']</td><td>$invoice.address</td></tr>
            <tr><td>$m['invoice.postal_code']</td><td>$invoice.postalCode</td></tr>
            <tr><td>$m['invoice.city']</td><td>$invoice.city</td></tr>
            <tr><td>$m['invoice.country']</td><td>$invoice.country</td></tr>
        </table>
    </div>

    #if($proformaId)
        #set($issueDate = $invoice.dateCreated)
        #set($saleDate = $invoice.dateCreated)
        #set($dueDate = $invoice.dueDate)
    #else
        #set($issueDate = $invoice.datePaid)
        #set($saleDate = $invoice.datePaid)
        #set($dueDate = $invoice.datePaid)
    #end

    <div style="float: left; width: 100%">
        <hr/>

        <table>
            <tr><td>$m['invoice.issue_date']</td><td>$date.format('yyyy-MM-dd', $issueDate)</td></tr>
            <tr><td>$m['invoice.sale_date']</td><td>$date.format('yyyy-MM-dd', $saleDate)</td></tr>
            <tr><td>$m['invoice.due_date']</td><td>$date.format('yyyy-MM-dd', $dueDate)</td></tr>
            <tr><td>$m['invoice.payment_method']</td><td>$m["invoice.pdf.method.$invoice.method"]</td></tr>
        </table>
        #if($invoice.method == 'TRANSFER')
            <strong>$m['invoice.bank.name']</strong> $conf.getProperty('INVOICE_BANK_NAME')
            <strong>$m['invoice.bank.account']</strong> $conf.getProperty('INVOICE_IBAN') <br/>
            <strong>$m['invoice.bank.code']</strong> $conf.getProperty('INVOICE_BANK_CODE')
        #end
    </div>


    <table style="float: left; border: 1px solid black; margin-top: 20px; margin-bottom: 20px">
        <tr style="font-size: x-small; font-weight: bold;">
            <th>$m['invoice.item_no']</th>
            <th>$m['invoice.name_service']</th>
            <th>$m['invoice.qty']</th>
            <th>$m['invoice.unit_net_price']</th>
            #if($invoice.discount)
                <th>$m['invoice.discount']</th>
            #end
            <th>$m['invoice.total_net_price']</th>
            <th>$m['invoice.vat_rate']</th>
            <th>$m['invoice.vat_amount']</th>
            <th>$m['invoice.gross_price']</th>
        </tr>
        #set($ticketNo = 1)
        #set($vat = $conf.getAsInt('INVOICE_VAT_RATE'))
        #set($totalAmount = 0)

        #foreach($ticketEntry in $invoice.getTicketsByCategory().asMap().entrySet())
            <tr #if($ticketNo % 2 == 1)style='background-color: #DCDCDC;'#end>
                <td>$ticketNo</td>
                <td>$ticketEntry.key.invoiceDescription</td>
                <td>$ticketEntry.value.size()</td>
                <td>$number.format("#0.00", $ticketEntry.key.price)</td>
                #if($invoice.discount)
                    <td>$invoice.discount.discountAmount %</td>
                    #set($totalNet = $math.mul($math.mul($ticketEntry.key.price, $ticketEntry.value.size()),$math.sub(1,$math.div($invoice.discount.discountAmount, 100))))
                #else
                    #set($totalNet = $math.mul($ticketEntry.key.price, $ticketEntry.value.size()))
                #end

                <td>$number.format("#0.00", $totalNet)</td>
                <td>$vat %</td>
                <td>$number.format("#0.00", $math.mul($totalNet, $math.div($vat, 100)))</td>
                #set($totalPerCategory = $math.mul($totalNet, $math.add(1,$math.div($vat, 100))))
                <td>$number.format("#0.00", $totalPerCategory)</td>
                #set($totalAmount = $totalAmount + $totalPerCategory)
            </tr>
            #set($ticketNo = $ticketNo + 1)
        #end
    </table>

    <div style="float: left; width: 100%">

        #set($totalAmountStr = $number.format('#0.00', $totalAmount))

        #if($proformaId)
            #set($outstanding = $totalAmountStr)
            #set($paid = $number.format('#0.00', 0))
        #else
            #set($outstanding = $number.format('#0.00', 0))
            #set($paid = $totalAmountStr)
        #end

        <table>
            <tr><td><strong>$m['invoice.total_due']</strong></td><td>$totalAmountStr $conf.getProperty('INVOICE_CURRENCY')</td></tr>
            <tr><td>$m['invoice.paid']</td><td>$paid $conf.getProperty('INVOICE_CURRENCY')</td></tr>
            <tr><td>$m['invoice.outstanding']</td><td>$outstanding $conf.getProperty('INVOICE_CURRENCY')</td></tr>
            <tr><td></td></tr>
            <tr><td>$m['invoice.inwords']</td><td>$c.toString('pl', $number.format('#0.00', $totalAmount), $conf.getProperty('INVOICE_CURRENCY')) <br/>
                $c.toString('en', $number.format('#0.00', $totalAmount), $conf.getProperty('INVOICE_CURRENCY'))</td></tr>
        </table>
        <hr/>

        #if($invoice.notes)
            <strong>Uwagi / Notes:</strong><br/>
            $invoice.notes
            <hr/>
        #end

    </div>

    <div style="border: 1px black solid; float: left; width: 320px; text-align: center; padding-top: 30px;">
        $invoice.name

        <div style="font-size: x-small;">
            $m['invoice.receive_signature']
        </div>
    </div>

    <div style="border: 1px black solid; float: right; width: 320px; text-align: center; padding-top: 30px;">
        $conf.getProperty('INVOICE_NAME')

        <div style="font-size: x-small;">
            $m['invoice.issue_signature']
        </div>
    </div>
</body>
</html>
