#layout('default')

#region('content')
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });

            $('.date-picker-button').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                    $('#downloadButtonLink').attr('href', downloadLink + "/" + year + "/" + month);
                    $('#downloadButton').attr('disabled', false);
                }
            });
        });

        var downloadLink = '$a.download('payments', 'downloadInvoices')';
    </script>
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>

    <h1>$m['welcome.accounting']</h1>

    <h2>Close Accounting Month</h2>
    <div id="accounting">
        <form action="$a.formAction('payments','closeMonth')" class="form-horizontal"
              id="accountingForm" method="post">
            <label for="accountingMonth">$m['accounting.toClose']</label>
            <input name="accountingMonth" id="accountingMonth" class="date-picker" />

            <input type="submit"
                   value="Close Accounting Month"/>
        </form>
    </div>

    <h2>Download Invoices Per Month</h2>
    <div id="accounting">
        <input id="downloadInvAccMonth" name="accountingMonth" class="date-picker-button" />

        <a href="" id="downloadButtonLink">
            <button class="btn" disabled="true" id="downloadButton">Download Invoices</button>
        </a>
    </div>

#end