#layout('default')

#region('content')
    <h3>Payments</h3>

    <div id="nonpaid">
        <label for="searchInput">Search (invoice number, name or company name)</label>
            <input type="text" value="" id="searchInput" onkeypress="reloadInvoices()"/>

         <table class='table table-striped' ">
            <thead>
            <tr>
                <th>No</th>
                <th>Email</th>
                <th>Proforma Invoice Number</th>
                <th>Date Booked</th>
                <th>Name &amp; Last Name</th>
                <th>Company</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Tickets</th>
                <th>Date Approved</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: invoices">
            <tr>
                <td data-bind="text: index++"/>
                <td>
                    <a data-bind="text: email, attr: {href: 'mailto:'+email()}"></a>
                </td>
                <td data-bind="text: invoiceNo"/>
                <td>
                    <span data-bind="text: dateCreated"></span>
                    <!-- ko if: status() == 'UNPAID'  && \$root.daysNotPaid(\$data) > 14 -->
                        <span class="badge badge-important" data-bind="text: \$root.daysNotPaid(\$data) + ' days not paid'"></span>
                    <!-- /ko -->
                    <!-- ko if: status() == 'UNPAID' && \$root.daysNotPaid(\$data) <= 14 && \$root.daysNotPaid(\$data) > 7 -->
                        <span class="badge badge-warning" data-bind="text: \$root.daysNotPaid(\$data) + ' days not paid'"></span>
                    <!-- /ko -->
                    <!-- ko if: status() == 'UNPAID' && \$root.daysNotPaid(\$data) <= 7 -->
                        <span class="badge badge-success" data-bind="text: \$root.daysNotPaid(\$data) + ' days not paid'"></span>
                    <!-- /ko -->
                </td>
                <td data-bind="text: name"></td>
                <td data-bind="text: company"></td>
                <td data-bind="text: amount"></td>
                <td data-bind="text: discount"></td>
                <td data-bind="text: tickets"></td>
                <td>
                    <div data-bind="template: { name: 'DATEPICK', data: \$data }"></div>
                </td>
                <td>
                    <div data-bind="template: { name: 'APPROVE', data: \$data }"></div>
                    <div data-bind="template: { name: 'CANCEL', data: \$data }"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li>
                <a href="#" onclick="return previous();">Previous</a>
            </li>
            <li>
                <a href="#" onclick="return next();">Next</a>
            </li>
        </ul>
    </div>

    <div id="reload">

        <script type="text/javascript">
            $(function() {
                reloadInvoices();
            });
        </script>
    </div>



    <script type="text/html" id="DATEPICK">
            <!-- ko if: status() == 'UNPAID' -->
            <input type="text" class="datepicker"
                   data-bind="dateSelect: $data, attr: {id: name}" />
            <!-- /ko -->
            <!-- ko if: status() == 'PAID' -->
            <span data-bind="text: dateApproved"></span>
            <!-- /ko -->
        </script>

        <script type="text/html" id="APPROVE">
            <!-- ko if: status() == 'UNPAID' -->
            <input class="btn btn-success" type="button"
                   data-bind="attr: {name: 'approve', value: '$m['admin.approve.approve']'}, event: { click: \$root.approve }" />
            <!-- /ko -->
        </script>
        <script type="text/html" id="CANCEL">
            <!-- ko if: status() == 'UNPAID' -->
            <input class="btn btn-danger" type="button"
                   data-bind="attr: {name: 'approve', value: '$m['admin.approve.cancel']'}, event: { click: \$root.cancel }" />
            <!-- /ko -->
        </script>

        <script type="text/javascript">

            var ONE_DAY=1000*60*60*24

            ko.bindingHandlers.dateSelect = {
                init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
                    $(element).val(viewModel.dateValue())

                    $(element).change(function () {
                        var date = $(element).val()
                        viewModel.dateValue(date);
                    });
                },
                update:function (element, valueAccessor, allBindingsAccessor, viewModel) {
                }
            };


            var currentPage = 0;
            var jsonLink = "$a.jsonLink('payments','loadAttendants')";
            var totalTickets = $totalTickets;
            var viewModel;
            var index = 0;

            function previous() {
                if (currentPage > 0) {
                    currentPage--;

                    reloadInvoices();
                }

                return false;
            }

            function next() {
                if (currentPage < (totalTickets / 10) - 1) {
                    currentPage++;

                    reloadInvoices();
                }

                return false;
            }

            function reloadInvoices() {
                index = currentPage * 10 + 1;

                $.get(jsonLink+"/"+currentPage+"/"+$("#searchInput").val(), function(data){
                    $.each(data, function() {
                        this['dateValue'] = $.datepicker.formatDate('yy-mm-dd', new Date());
                    });

                    if (viewModel == null) {

                        viewModel = ko.mapping.fromJS({"invoices": data});

                        console.log(data);
                        console.log(viewModel);

                        viewModel.approve = function (element) {
                            return ajaxPost('payments', 'approve',
                                    {'invoiceId': element.invoiceId(), 'paymentDate': element.dateValue()},
                                    'reload')
                        };
                        viewModel.cancel = function (element) {
                            return ajaxPost('payments', 'cancel',
                                    {'invoiceId': element.invoiceId()},
                                    'reload')
                        };
                        viewModel.daysNotPaid = function (element) {
                            var dateCreated = $.datepicker.parseDate('yy-mm-dd', element.dateCreated());

                            var diff = new Date().getTime() - dateCreated.getTime();

                            return Math.floor(diff / ONE_DAY);
                        }

                        ko.applyBindings(viewModel);

                    }
                    else {
                        ko.mapping.fromJS({"invoices": data}, viewModel);
                    }

                    $(".datepicker").datepicker({ dateFormat:"yy-mm-dd" });
                });
            }

        </script>
#end