#layout('default')

#region('content')
    <h1>$m['login.changepassword']</h1>

    <form accept-charset="UTF-8" action="$a.formAction('login', 'doChangePassword')" method="POST"
          class="form-horizontal">
        <label>$m['register.enter.password']</label>
        <input type="password" name="password" value=""/>
        #err('user.password')
        <label>$m['register.enter.password2']</label>
        <input type="password" name="password2" value=""/>
        <input type="submit" value="Change Password"/>
    </form>
#end