#layout('default')

#region('content')
    <h1>$m['login.forgot.welcome']</h1>

    <form accept-charset="UTF-8" action="$a.formAction('login', 'doForgot')" method="POST"
          class="form-horizontal">
        <label>$m['login.login']</label>
        <input type="text" name="login" value="$!username"/>
        <input type="submit" value="$m['login.forgot.reset']"/>
    </form>
#end