#layout('default')

#region('content')
    <h1>$m['login.pleaselogin']</h1>

    <p>No account yet ? <a href="$a.link('login', 'register')">Register now</a>.</p>

    <form accept-charset="UTF-8" action="$a.formAction('login', 'doLogin')" method="POST"
          class="form-horizontal">
        <label>$m['login.login']</label>
        <input type="text" name="login" value=""/>
        <label>$m['login.password']</label>
        <input type="password" name="password" value=""/>
        <input type="submit" value="Login"/>
    </form>
#end